* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
.header-background-image {
  background-image: url(http://ljlauzau.smugmug.com/Featured/i-Kq94H2z/0/X3/P8100125-X3.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  height: 300px;
  width: 100%;
  z-index: -1;
}
.header {
  height: 300px;
}
.section {
  height: 500px;
}
.two {
  background-image: url(http://ljlauzau.smugmug.com/Featured/i-RMThXtw/1/X3/P8100142-X3.jpg);
  height: 600px;
}
.three {
  background-image: url(http://ljlauzau.smugmug.com/Featured/i-JVG3H8n/1/X3/G0100375-X3.jpg);
  height: 400px;
}
