---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* color.adobe.com Tech Office theme */
html {
	background-color: #595241;
	padding: 1rem;
}
body {
	max-width: 1000px;
	color: #595241;
	background-color: #FFFFFF;
	margin: auto;
	padding: 1rem;
}
a {
	color: #8A0917;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.nav ul {
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
}
.nav li:not(:first-child)::before {
    content: ' | ';
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "syntax-highlighting"
;
