* {
  margin: 0;
  padding: 0;
}
html, body, .site {
  height: 100%;
  font-family: Helvetica;
}
.header-background-image {
  background-image: url(http://ljlauzau.smugmug.com/Featured/i-Kq94H2z/0/X3/P8100125-X3.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: -1;
}
.header {
  height: 600px;
  color: #fff;
}
.title {
  position: absolute;
  top: 385px;
  left: 15px;
  font-size: 4em;
}
.social {
  position: absolute;
  top: 470px;
  width: 500px;
}
.social a {
  padding: 10px;
}
.content {
  width: 850px;
  padding: 50px;
  margin: auto;
}
.content p {
  padding: 15px;
  line-height: 1.5em;
}






.contentHeading {
  position: absolute;
  z-index: -1;
  color: #C8DDD6;
  font-size: 7em;
  margin-left: -30px;
  margin-top: -40px;
}
.computerBak {
  background-image: url(http://ljlauzau.smugmug.com/Public/Random/i-Gts64Xd/0/X3/CA_07131215391892-X3.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
}






.nav {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-family: Georgia;
}
.nav ul {
  padding: 50px;
}
.nav li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.nav a {
  text-decoration: none;
  color: #679E8C;
}
.footer {
  display: none;
}
