---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* color.adobe.com Tech Office theme */
$dark: #595241;
$medium: #B8AE9C;
$light: #FFFFFF;
$accent1: #ACCFCC;
$accent2: #8A0917;
$code-background: rgba(0,0,0,0.04);

html {
  background-color: $dark;
  padding: 1rem;
}
body {
  max-width: 1000px;
  color: $dark;
  background-color: $light;
  margin: auto;
  padding: 1rem;
}
a {
  color: $accent2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.nav ul {
  padding: 0;
  margin: 0;
}
.nav li {
  display: inline-block;
}
.nav li:not(:first-child)::before {
  content: ' | ';
}

@-moz-keyframes current-fade {
  0% {background: $accent1;}
  100% {background: none;}
}
@-webkit-keyframes current-fade {
  0% {background: $accent1;}
  100% {background: none;}
}
@-o-keyframes current-fade {
  0% {background: $accent1;}
  100% {background: none;}
}
@keyframes current-fade {
  0% {background: $accent1;}
  100% {background: none;}
}
.current {
  -moz-animation: current-fade 1.25s ease-in-out;
  -webkit-animation: current-fade 1.25s ease-in-out;
  -o-animation: current-fade 1.25s ease-in-out;
  animation: current-fade 1.25s ease-in-out;
}

pre {
  background-color: $code-background;
  padding: .5em .75em;

  code {
    background-color: transparent;
    padding: 0;
  }
}
code {
  background-color: $code-background;
  font-size: .8em;
  padding: .1em .25em;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "syntax-highlighting"
;
