.mdEditor {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mdEditor #input {
  position: fixed;
  width: 49%;
  top: 0;
  bottom: 0;
  left: 0;
}
.mdEditor #output {
  position: fixed;
  width: 49%;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.togglePreviewButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
