.header-background-image {
  background-image: url(http://ljlauzau.smugmug.com/Public/Random/i-Gts64Xd/0/X3/CA_07131215391892-X3.jpg);
  background-color: #000;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: -1;
}
.header {
  height: 100px;
  color: #fff;
}
.title {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2em;
}
@media (min-width: 400px) {
  .header-background-image {
    height: 200px;
  }
  .header {
    height: 200px;
  }
  .title {
    top: 145px;
    font-size: 2.5em;
  }
}
@media (min-width: 1050px) {
  .header-background-image {
    height: 300px;
  }
  .header {
    height: 300px;
  }
  .title {
    top: 215px;
    font-size: 4em;
  }
}
