---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import "_main";


// customizations on top of main.scss
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1, h2 {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
h3, h4, h5, h6 {
    margin-bottom: 0;
}
h2, h3 {
    margin-top: 15px;
}
